th {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  border-spacing: 2px;
  background-color: orangered;
  color: white;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  border-spacing: 2px;
}

#zebrastyletable tr:nth-child(even) {
  background-color: lightcoral;
}

#zebrastyletable tr:nth-child(odd) {
  background-color: lightyellow;
}

#imgbgstyletable {
  background-image: url("../images/tablebg.jpg");
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  font-weight: bold;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: blue;
}
